# Pokemon

In this homework, you'll read, process, and group CSV data to compute descriptive statistics in two ways for each problem: with the Pandas library and without the Pandas library.

In [1]:
import doctest
import io
import pandas as pd

# For prettifying doctest output involving data structures
# See also: https://stackoverflow.com/a/21227671
from pprint import pprint

In the *[Pokémon](https://en.wikipedia.org/wiki/Pok%C3%A9mon)* video game series, the player catches **pokemon**, fictional creatures trained to battle each other as part of a sport franchise. For this first task, you'll practice creating your own pokemon-themed CSV dataset in the following format.

In [2]:
pokemon_box = pd.read_csv("pokemon_box.csv")
pokemon_box

,id,name,level,personality,type,weakness,atk,def,hp,stage
0,53,Persian,40,mild,normal,fighting,104,116,147,2
1,126,Magmar,44,docile,fire,water,96,83,153,1
2,99,Kingler,33,adamant,water,electric,110,169,29,2
3,57,Primeape,9,lonely,fighting,flying,20,66,43,2
4,3,Venusaur,44,sassy,grass,fire,136,195,92,3
...,...,...,...,...,...,...,...,...,...,...
110,76,Golem,78,hardy,rock,water,65,145,137,3
111,116,Horsea,69,mild,water,electric,49,36,45,1
112,6,Charizard,89,lax,fire,water,165,100,108,3
113,65,Alakazam,33,impish,psychic,dark,67,39,169,3
114,120,Staryu,73,hardy,water,electric,30,91,158,1

- `id` is a unique numeric identifier corresponding to the species of a pokemon.
- `name` is the name of the species of pokemon, such as Bulbasaur.
- `level` is the integer level of the pokemon.
- `personality` is a one-word string describing the personality of the pokemon, such as Jolly.
- `type` is a one-word string describing the type of the pokemon, such as Grass.
- `weakness` is the enemy type that this pokemon is weak toward. Bulbasaur is weak to fire-type pokemon.
- `atk`, `def`, `hp` are integers that indicate the attack power, defense power, and hit points of the pokemon.
- `stage` is an integer that indicates the particular developmental stage of the pokemon.

> Assume the **data is never empty** (there's at least one pokemon), that there's **no missing data** (each pokemon has every attribute), and **pokemon stats can be any non-negative integers, including 0**.

This assessment introduces a new way of validating and testing your data programs by comparing two different approaches to implementing the same function: writing an implementation once using plain Python and again using Pandas. For each programming task below, you'll write, document, and test each function in the same way to build confidence in their correctness and robustness.

In addition to the large `pokemon_box` dataset above, we've provided a much smaller `pokemon_test` dataset below.

In [3]:
pokemon_test = pd.read_csv(io.StringIO("""
id,name,level,personality,type,weakness,atk,def,hp,stage
59,Arcanine,35,impish,fire,water,50,55,90,2
59,Arcanine,35,gentle,fire,water,45,60,80,2
121,Starmie,67,sassy,water,electric,174,56,113,2
131,Lapras,72,lax,water,electric,107,113,29,1
"""))
pokemon_test

    id      name  level personality   type  weakness  atk  def   hp  stage
0   59  Arcanine     35      impish   fire     water   50   55   90      2
1   59  Arcanine     35      gentle   fire     water   45   60   80      2
2  121   Starmie     67       sassy  water  electric  174   56  113      2
3  131    Lapras     72         lax  water  electric  107  113   29      1

Note that it's possible to have multiple pokemon that have very similar attributes. In the `pokemon_test` dataset, there are two pokemon named "Arcanine" with the same `id`, `level`, and `type`: differing only in `personality`, `atk`, `def`, and `hp`. Since there's not a clearly unique key to use as an index, we won't define a meaningful index for this assessment.

## Outside Sources

Update the following Markdown cell to include your name and list your outside sources. Submitted work should be consistent with the curriculum and your sources.

**Name**: Swarali Karale

1. https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik
2.

## Task: Create your own dataset

Before starting your programming tasks, create at least one additional testing dataset below. In total, each function you write should contain 3 tests:

1. One test for the large `pokemon_box` dataset.
2. One test for the small `pokemon_test` dataset.
3. One test for your own `pokemon_mine` dataset below.

In [4]:
pokemon_mine = pd.read_csv(io.StringIO("""
id,name,level,personality,type,weakness,atk,def,hp,stage
1,Arcanine,27,nonchalant,air,fire,50,55,90,2
2,Prairie,35,gentle,water,fire,45,60,80,2
3,Starmie,67,kind,fire,water,174,56,113,2
4,Lapras,49,stubborn,earth,metal,107,113,29,1
"""))
pokemon_mine

   id      name  level personality   type weakness  atk  def   hp  stage
0   1  Arcanine     27  nonchalant    air     fire   50   55   90      2
1   2   Prairie     35      gentle  water     fire   45   60   80      2
2   3   Starmie     67        kind   fire    water  174   56  113      2
3   4    Lapras     49    stubborn  earth    metal  107  113   29      1

## Task: Species count

Write a function `python_species_count` that takes a list of dictionaries representing the pokemon dataset and returns the number of unique pokemon species in the dataset as determined by the `name` attribute without using Pandas.

Write a function `pandas_species_count` that does the same thing but using a `DataFrame` as input.

Add your test case and a descriptive docstring for both functions.

In [5]:
def python_species_count(data):
    """
    Counts the number of unique Pokemon species based on the name
    using a list of dictionaries
    >>> python_species_count(pokemon_box.to_dict("records"))
    82
    >>> python_species_count(pokemon_test.to_dict("records"))
    3
    >>> python_species_count(pokemon_mine.to_dict("records"))
    4
    """

    uniqueNames = set()
    for pokemon in data:
        name = pokemon.get('name')
        if name not in uniqueNames:
            uniqueNames.add(name)

    return len(uniqueNames)

doctest.run_docstring_examples(python_species_count, globals())

In [6]:
def pandas_species_count(data):
    """
    Counts the number of unique Pokemon species based
    on a DataFrame for input.

    >>> pandas_species_count(pokemon_box)
    82
    >>> pandas_species_count(pokemon_test)
    3
    >>> pandas_species_count(pokemon_mine)
    4
    """
    unique_count = data['name'].nunique()
    return unique_count


doctest.run_docstring_examples(pandas_species_count, globals())

## Task: Max level

Write a function `python_max_level` that takes a list of dictionaries representing the pokemon dataset and returns a 2-element tuple for the `(name, level)` of the pokemon with the highest `level` in the dataset. If there are multiple pokemon with the highest `level`, return the pokemon that appears first in the dataset.

Write a function `pandas_max_level` that does the same thing but using a `DataFrame` as input.

Add your test case and a descriptive docstring for both functions.

In [7]:
def python_max_level(data):
    """
    Finds the pokemon with the max level and returns it as a tuple
    of (name, level) using a list of dictionaries
    
    >>> python_max_level(pokemon_box.to_dict("records"))
    ('Victreebel', 100)
    >>> python_max_level(pokemon_test.to_dict("records"))
    ('Lapras', 72)
    >>> python_max_level(pokemon_mine.to_dict("records"))
    ('Starmie', 67)
    """

    maxLevel = 0
    maxPokemon = None
    for pokemon in data:
        level = pokemon.get('level')
        if level > maxLevel:
            maxLevel = level
            maxPokemon = pokemon
    return (maxPokemon["name"], maxLevel) 


doctest.run_docstring_examples(python_max_level, globals())

In [8]:
def pandas_max_level(data):
    """
    Finds the pokemon with the max level and returns it as a tuple
    of (name, level) using a DataFrame
        
    >>> python_max_level(pokemon_box.to_dict("records"))
    ('Victreebel', 100)
    >>> python_max_level(pokemon_test.to_dict("records"))
    ('Lapras', 72)
    >>> python_max_level(pokemon_mine.to_dict("records"))
    ('Starmie', 67)
    """

    maxLevelIDX = data['level'].idxmax()
    return (data.loc[maxLevelIDX]['name'], data.loc[maxLevelIDX]['level'])

doctest.run_docstring_examples(pandas_max_level, globals())

## Task: Filter range

Write a function `python_filter_range` that takes a list of dictionaries representing the pokemon dataset and two integers: a lower bound (inclusive) and upper bound (exclusive). The function should return a list of the names of pokemon whose `level` fall within the bounds in the same order that they appear in the dataset.

Write a function `pandas_filter_range` that does the same thing but using a `DataFrame` as input. To convert a `Series` to a `list`, use the built-in `list` function as shown below.

```python
csv = """
name,age,species
Fido,4,dog
Meowrty,6,cat
Chester,1,dog
Phil,1,axolotl
"""
data = pd.read_csv(io.StringIO(csv))

list(data['name'])
# ['Fido', 'Meowrty', 'Chester', 'Phil']

list(data.loc[1])
# ['Meowrty', 6, 'cat']
```

Add your test case and a descriptive docstring for both functions.

In [9]:
def python_filter_range(data, lower, upper):
    """
    Takes a DataFrame representing the pokemon and
    treats it like a list of dictionaries and two integers 
    (a lower bound - inclusive AND upper bound - exclusive)
    It then returns a list of the names of pokemon whose level fall
    within the bounds in the same order
    
    >>> pprint(python_filter_range(pokemon_box.to_dict("records"), 0, 10))
    ['Primeape',
     'Metapod',
     'Caterpie',
     'Ninetales',
     'Weezing',
     'Tangela',
     'Butterfree',
     'Exeggcute',
     'Arcanine']
    >>> pprint(python_filter_range(pokemon_test.to_dict("records"), 35, 72))
    ['Arcanine', 'Arcanine', 'Starmie']

    >>> pprint(python_filter_range(pokemon_mine.to_dict("records"), 35, 72))
    ['Prairie', 'Starmie', 'Lapras']
    """
    inRange = []
    for pokemon in data:
        if ((pokemon.get('level') >= lower) and (pokemon.get('level') < upper)):
            inRange.append(pokemon.get('name'))

    return inRange

doctest.run_docstring_examples(python_filter_range, globals())

In [10]:
def pandas_filter_range(data, lower, upper):
    """
    Takes a DataFrame representing the pokemon
    dataset and two integers (a lower bound - inclusive AND upper bound - exclusive)
    It then returns a list of the names of pokemon whose level fall
    within the bounds in the same order
    
    >>> pprint(pandas_filter_range(pokemon_box, 0, 10))
    ['Primeape',
     'Metapod',
     'Caterpie',
     'Ninetales',
     'Weezing',
     'Tangela',
     'Butterfree',
     'Exeggcute',
     'Arcanine']
    >>> pprint(pandas_filter_range(pokemon_test, 35, 72))
    ['Arcanine', 'Arcanine', 'Starmie']
    >>> pprint(python_filter_range(pokemon_mine.to_dict("records"), 35, 72))
    ['Prairie', 'Starmie', 'Lapras']
    """
    
    filtered = data[(data['level'] >= lower) & (data['level'] < upper)]
    return list(filtered['name'])

doctest.run_docstring_examples(pandas_filter_range, globals())

## Task: Mean attack for type

Write a function `python_mean_attack_for_type` that takes a list of dictionaries representing the pokemon dataset and a `str` representing the pokemon `type`. The function should return the average `atk` for all the pokemon in the dataset with the given `type`. If there are no pokemon of the given `type`, return `None`.

Write a function `pandas_mean_attack_for_type` that does the same thing but using a `DataFrame` as input.

Add your test case and a descriptive docstring for both functions.

In [11]:
def python_mean_attack_for_type(data, pokemon_type):
    """
    Takes a list of dictionaries representing the pokemon dataset 
    and a `str` representing the pokemon `type`. 
    The function should return the average `atk` for all the pokemon in the dataset
    with the given `type`. 
    If there are no pokemon of the given `type`, return `None`.

    >>> python_mean_attack_for_type(pokemon_box.to_dict("records"), "water")
    99.75
    >>> python_mean_attack_for_type(pokemon_test.to_dict("records"), "fire")
    47.5
    >>> python_mean_attack_for_type(pokemon_mine.to_dict("records"), "fire")
    174.0
    """
    sum = 0
    count = 0
    for pokemon in data:
        if pokemon.get('type') == pokemon_type:
            sum = sum + pokemon.get('atk')
            count += 1
    if sum > 0:
        return sum / count
    return None


doctest.run_docstring_examples(python_mean_attack_for_type, globals())

In [12]:
def pandas_mean_attack_for_type(data, pokemon_type):
    """
    Takes a DataFrame representing the pokemon dataset 
    and a `str` representing the pokemon `type`. 
    The function should return the average `atk` for all the pokemon in the dataset
    with the given `type`. 
    If there are no pokemon of the given `type`, return `None`.

    >>> pandas_mean_attack_for_type(pokemon_box, "water")
    99.75
    >>> pandas_mean_attack_for_type(pokemon_test, "fire")
    47.5
    >>> python_mean_attack_for_type(pokemon_mine.to_dict("records"), "fire")
    174.0
    """
    means = data.groupby('type')['atk'].mean()
    if pokemon_type in means:
        return float(means.get(pokemon_type))
    return None

doctest.run_docstring_examples(pandas_mean_attack_for_type, globals())

## Task: Count types

Write a function `python_count_types` that takes a list of dictionaries representing the pokemon dataset and returns a dictionary of each pokemon `type` and the number of pokemon of that `type`. The order of entries in the returned dictionary does not matter.

Write a function `pandas_count_types` that does the same thing but using a `DataFrame` as input. To convert a `Series` to a `dict`, use the built-in `dict` function as shown below.

```python
csv = """
name,age,species
Fido,4,dog
Meowrty,6,cat
Chester,1,dog
Phil,1,axolotl
"""
data = pd.read_csv(io.StringIO(csv))

dict(data['name'])
# {0: 'Fido', 1: 'Meowrty', 2: 'Chester', 3: 'Phil'}

dict(data.loc[1])
# {'name': 'Meowrty', 'age': 6, 'species': 'cat'}
```

Add your test case and a descriptive docstring for both functions.

In [13]:
def python_count_types(data):
    """
    Takes a list of dictionaries representing the pokemon dataset and returns
    a dictionary of each pokemon `type` and the number of pokemon of that `type`. 
    The order of entries in the returned dictionary does not matter.

    >>> pprint(python_count_types(pokemon_box.to_dict("records")))
    {'bug': 3,
     'electric': 1,
     'fairy': 3,
     'fighting': 3,
     'fire': 15,
     'flying': 6,
     'ghost': 3,
     'grass': 17,
     'ground': 5,
     'normal': 10,
     'poison': 12,
     'psychic': 6,
     'rock': 7,
     'water': 24}
    >>> pprint(python_count_types(pokemon_test.to_dict("records")))
    {'fire': 2, 'water': 2}
    >>> pprint(python_count_types(pokemon_mine.to_dict("records")))
    {'air': 1, 'earth': 1, 'fire': 1, 'water': 1}
    """
    
    typeCounts = {}
    for pokemon in data:
        ptype = pokemon.get('type')
        if ptype in typeCounts:
            typeCounts[ptype] += 1
        else:
            typeCounts[ptype] = 1
        
    return typeCounts

doctest.run_docstring_examples(python_count_types, globals())

In [14]:
def pandas_count_types(data):
    """
    Takes a DataFrame representing the pokemon dataset and returns
    a dictionary of each pokemon `type` and the number of pokemon of that `type`. 
    The order of entries in the returned dictionary does not matter.

    >>> pprint(pandas_count_types(pokemon_box))
    {'bug': 3,
     'electric': 1,
     'fairy': 3,
     'fighting': 3,
     'fire': 15,
     'flying': 6,
     'ghost': 3,
     'grass': 17,
     'ground': 5,
     'normal': 10,
     'poison': 12,
     'psychic': 6,
     'rock': 7,
     'water': 24}
    >>> pprint(pandas_count_types(pokemon_test))
    {'fire': 2, 'water': 2}
    >>> pprint(python_count_types(pokemon_mine.to_dict("records")))
    {'air': 1, 'earth': 1, 'fire': 1, 'water': 1}
    """
    counts = data.groupby('type').size()
    # Used comprehension because it was returning np.int(num)
    return {i: int(eachItem) for i, eachItem in counts.items()}

doctest.run_docstring_examples(pandas_count_types, globals())

## Task: Mean attack per type

Write a function `python_mean_attack_per_type` that takes a list of dictionaries representing the pokemon dataset and returns a dictionary of each pokemon `type` and the average `atk` of pokemon of that `type`. The order of entries in the returned dictionary does not matter.

Write a function `pandas_mean_attack_per_type` that does the same thing but using a `DataFrame` as input.

Add your test case and a descriptive docstring for both functions.

In [15]:
def python_mean_attack_per_type(data):
    """
    Takes a list of dictionaries representing the pokemon dataset and 
    returns a dictionary of each pokemon `type` and 
    the average `atk` of pokemon of that `type`. 
    The order of entries in the returned dictionary does not matter.

    >>> pprint(python_mean_attack_per_type(pokemon_box.to_dict("records")))
    {'bug': 25.0,
     'electric': 64.0,
     'fairy': 76.33333333333333,
     'fighting': 99.66666666666667,
     'fire': 99.4,
     'flying': 110.83333333333333,
     'ghost': 88.0,
     'grass': 105.3529411764706,
     'ground': 116.6,
     'normal': 108.0,
     'poison': 121.75,
     'psychic': 114.83333333333333,
     'rock': 84.85714285714286,
     'water': 99.75}
    >>> pprint(python_mean_attack_per_type(pokemon_test.to_dict("records")))
    {'fire': 47.5, 'water': 140.5}
    >>> pprint(python_mean_attack_per_type(pokemon_mine.to_dict("records")))
    {'air': 50.0, 'earth': 107.0, 'fire': 174.0, 'water': 45.0}
    """
    
    totals = {}
    counts = {}

    for pokemon in data:
        ptype = pokemon.get('type')
        atk = pokemon.get('atk')
        if ptype in totals:
            totals[ptype] += atk
            counts[ptype] += 1
        else:
            totals[ptype] = atk
            counts[ptype] = 1
    meanAttacks = {ptype: totals[ptype] / counts[ptype] for ptype in totals}

    return meanAttacks
doctest.run_docstring_examples(python_mean_attack_per_type, globals())

In [16]:
def pandas_mean_attack_per_type(data):
    """
    Takes a DataFrame representing the pokemon dataset and 
    returns a dictionary of each pokemon `type` and 
    the average `atk` of pokemon of that `type`. 
    The order of entries in the returned dictionary does not matter.

    >>> pprint(pandas_mean_attack_per_type(pokemon_box))
    {'bug': 25.0,
     'electric': 64.0,
     'fairy': 76.33333333333333,
     'fighting': 99.66666666666667,
     'fire': 99.4,
     'flying': 110.83333333333333,
     'ghost': 88.0,
     'grass': 105.3529411764706,
     'ground': 116.6,
     'normal': 108.0,
     'poison': 121.75,
     'psychic': 114.83333333333333,
     'rock': 84.85714285714286,
     'water': 99.75}
    >>> pprint(pandas_mean_attack_per_type(pokemon_test))
    {'fire': 47.5, 'water': 140.5}
    >>> pprint(python_mean_attack_per_type(pokemon_mine.to_dict("records")))
    {'air': 50.0, 'earth': 107.0, 'fire': 174.0, 'water': 45.0}
    """
    means = data.groupby('type')['atk'].mean()
    return {i: float(item) for i, item in means.items()}

doctest.run_docstring_examples(pandas_mean_attack_per_type, globals())

## Testing

In [17]:
test_results = doctest.testmod()
print(test_results)
assert test_results.failed == 0, "There are failed doctests."
assert test_results.attempted >= 36, "Total number of doctests should be at least 36; less than 36 means you did not have three tests per function."

TestResults(failed=0, attempted=36)